p {
    color: rgb(105, 82, 73);
    font-size: 13pt;
    line-height: -1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20px;
}

h1 {
    color: #574b46;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section{
    font-size: 17pt;
    font-weight: bold;
    line-height: 1.5;
}