header {
    margin-bottom: 3rem;
}

p {
    line-height: 1.6;
}

.see-all {
    font-size: 0.8em;
    text-transform: uppercase;
}

h1 {
    font-size: 2.5rem;
    font-weight: lighter;
}

h2 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: lighter;
}

img {
    width: 100%;
}

.cast li {
    max-width: 25%;
}

.shows {
    border-top:1px solid black;
}

.selected {
    color: black;
    font-weight: bold;
}

.cast div {
    font-size: 0.8rem;
}

.shows div:first-of-type {
    font-weight: bold;
}

.shows div:last-of-type {
    font-style: italic;
}

#game-of-thrones .seasons li:last-child::after {
    content: "*";
}

#game-of-thrones .seasons::after {
    content: "* Final Season";
    font-size: 0.7rem;
    color: #999;
}